{% extends "layout.html" %}

{% block content %}

{% import 'macros/mobile_nav.j2' as mobile_macros %}
{% import 'macros/issues.j2' as macros %}

{{ mobile_macros.mobile_nav('Series Detail', '#', back, current_user) }}

<div class="container">

<div class="row p-3 m-1 bg-light">
  <div class="col-lg-5 p-0 m-0">
    <img class="img-fluid" src="https://ipl-subscriptions-artwork.s3.amazonaws.com/{{ series.item_code }}.jpg">
  </div>
  <div class="col-lg-7 pr-0">
    <div class="row mt-3">
      <div class="col text-center text-sm-left">
        <span class="h4">{{ series.name }}</span>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-xl-2 col-lg-3 text-center text-sm-left font-weight-bold">Publisher</div>
      <div class="col-xl-10 col-lg-9 text-center text-sm-left">{{ series.publisher.name }}</div>
    </div>
    <div class="row">
      <div class="col">
        {% for role, creators in series.groupCreatorsByRole().items() %}
          <div class="row mt-2">
            <div class="col-xl-2 col-lg-3 text-center text-sm-left font-weight-bold">{{ role }}</div>
            <div class="col-xl-10 col-lg-9 text-center text-sm-left">{{ ", ".join(creators) }}</div>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="row mt-2">
      <div class="col text-center text-sm-left">
        {%- if series.id in smap %}
        <a href="{{ url_for('unsubscribe', id=series.id) }}" class="btn btn-warning">Unsubscribe</a>
        {% else %}
        <a href="{{ url_for('subscribe', id=series.id) }}" class="btn btn-primary">Subscribe</a>
        {%- endif %}
      </div>
    </div>
    <div class="row mt-4">
      <div class="col text-center text-sm-left">
        <div class="h4">Upcoming Issues</div>
        {%- if form!=None %}
        <form action="" method="POST">
        {{ form.hidden_tag() }}
        {%- endif %}
        {% for i,o in issues.items() %}
        {%- if series.id in smap %}
        {{ macros.render_issue(i, o, today, True) }}
        {%- else %}
        {{ macros.render_issue(i, o, today, False) }}
        {%- endif %}
        {% endfor %}
        {%- if None != None %}
        <div class="row m-2 p-0">
          <div class="col m-0 p-0">{{ form.submit(class_="btn btn-primary float-right") }}</div>
        </div>
        </form>
        {%- endif %}
      </div>
    </div>
  </div>
</div>

</div>

{% endblock %}
